.navigationBar {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 1px;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}


.navBarSpace {
    flex-grow: 1;
}

.navBarSpace:hover {
    background-color: #333 !important;
}


div.navigationBar > div {
    font-size: 17px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    position: sticky;
    top: 0;
}

div.navigationBar > div:hover  {
    background-color: #111 !important;
    cursor: pointer;
}

div.navigationBar > div:active  {
    background-color: #04AA6D !important;
}

a {
    text-decoration: inherit;
    color: inherit;
}
